html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Tahoma, san-serif;
}

.little {
  width: 100px;
}

#big{
  width: 500px;
}

.part1 {
  color: rgb(56, 133, 133);
}

.part2 {
  color: rgb(184, 162, 136);
}

.part3{
  color: rgb(139, 64, 117);
}

p{
  font-family: sour gummy;
}

.sour gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.important{
  border-style:double;
  border-color: rgb(146, 19, 108);
}

.highlight {
  background-color: blanchedalmond                     ;
}